.agent_title {
  font-family: "Special Elite", system-ui;
  font-size: 2.3rem;
  margin: 20px;
  font-weight: bold;
  color: #073042;
}

.speaker_profiles {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;

  .speaker_profile {
    width: 600px;
    min-height: 300px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    background-color: #fafafa;
    box-shadow: var(--shadow-elevation-medium);

    .right-panel {
      position: relative;
      display: flex;
      flex-direction: column;
      flex: 1;
      background-color: #fafafa;
      width: 40%;
      height: 100%;
      border-radius: 10px;

      .container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        height: 100%;
        margin: 2rem;
        z-index: 2;
        font-family: "Courier Prime", monospace;
        font-weight: bold;
        gap: 3rem;

        .info {
          display: flex;
          align-items: flex-start;
          gap: 1.5rem;

          .picture-container {
            display: flex;
            align-items: flex-start;
            gap: 0.8rem;

            .spy {
              position: absolute;
              transition: opacity 0.2s linear;
            }

            .round_image {
              width: 150px;
              border: 5px solid #1b4c7ebf;
              border-radius: 20%;
            }
          }

          .details {
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            gap: 0.2rem;

            p {
              font-size: 2rem;
              font-weight: 400;
              font-weight: bolder;
              color: white;
              text-transform: lowercase;

              span {
                font-weight: bold;
                margin-right: 0.3rem;
                color: #073042;
                text-transform: uppercase;
                transition: opacity 0.2s linear;

                &.name {
                  opacity: 0;
                  transition: opacity 0.2s linear;
                }
              }

              &.code-name {
                span {
                  font-size: 1.8rem;
                  color: #747d86;
                }
              }
            }

            .labelName {
              color: #37bf6f;
            }

            .placeholderName {
              position: absolute;
              color: #073042;
            }
          }
        }

        .footer {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;

          .zenika-logo {
            padding-left: 10px;
            height: 40px;
          }

          .left-side {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;

            .badge {
              background-color: #37bf6f;
              padding: 0.1rem 0.8rem;
              border-radius: 50px;

              span {
                font-weight: bolder;
                color: white;
              }
            }

            .network_icons {
              display: flex;
              align-self: flex-end;
              gap: 20px;

              .network_icon {
                color: #0f516d;

                &:hover {
                  color: #0f516d;
                  filter: drop-shadow(0 0 0.5em #4285f5);
                }
              }
            }
          }
        }
      }

      .fingerprint {
        position: absolute;
        right: 1.5rem;
        top: 2rem;
        transform: rotate(10deg);
        opacity: 0.7;
        color: #1b4d7e;
        z-index: 2;
      }

      .ciaLogo {
        position: absolute;
        left: 2rem;
        top: 3rem;
        width: 400px;
        z-index: 0;
        opacity: 0.1;
      }
    }

    &:hover {
      .right-panel {
        .container {
          .info {
            .spy {
              opacity: 0;
              transition: opacity 0.2s linear;
            }

            .details {
              p {
                span {
                  &.placeholderName {
                    opacity: 0;
                    transition: opacity 0.2s linear;
                  }

                  &.name {
                    opacity: 1;
                    transition: opacity 0.2s 0.1s linear;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 700px) {
    .speaker_profile {
      width: 90%;

      .right-panel {
        .container {
          gap: 1rem;

          .footer {
            flex-direction: column;
            gap: 1rem;

            .left-side {
              flex-direction: column;
            }
          }
        }

        .fingerprint {
          display: none;
        }

        .ciaLogo {
          top: 8rem;
          width: 300px;
        }
      }
    }
  }
}
