.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-top: 40px;
  margin-bottom: 100px;
  font-family: "Courier Prime", monospace;
  font-weight: bold;

  a {
    font-size: 1.8rem;

    button {
      width: 400px;
      color: #242424;
      border-radius: 15px;
      padding: 15px 20px;
      font-size: 1em;
      font-family: inherit;
      cursor: pointer;
      transition: background-color 0.25s;
      background-color: #4386f5;
      color: white;
      border: none;
      transition: all 0.2s;

      &:hover {
        --shadow-elevation-medium: 0.3px 0.5px 0.7px var(--shadow-color),
          0.8px 1.6px 2px -0.8px var(--shadow-color),
          2.1px 4.1px 5.2px -1.7px var(--shadow-color),
          5px 10px 12.6px -2.5px var(--shadow-color);

        box-shadow: var(--shadow-elevation-medium);
        transition: all 0.2s;
      }

      &.secondary {
        background-color: #37bf6f;
        color: white;
        border: 3px solid #37bf6f;
      }

      &.secondary:hover {
        --shadow-elevation-medium: 0.3px 0.5px 0.7px
            var(--shadow-color-secondary),
          0.8px 1.6px 2px -0.8px var(--shadow-color-secondary),
          2.1px 4.1px 5.2px -1.7px var(--shadow-color-secondary),
          5px 10px 12.6px -2.5px var(--shadow-color-secondary);

        box-shadow: var(--shadow-elevation-medium);
        transition: all 0.2s;
      }
    }

    &:hover {
      color: rgba(0, 170, 255);
    }
  }

  @media screen and (max-width: 500px) {
    flex-direction: column;

    a {
      button {
        font-size: 1rem;
        width: 90%;
      }
    }
  }
}
