#root {
  margin: 5rem auto 0;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon {
  position: absolute;
  top: 30%;
  right: 50%;
  transform: translate(50%,-50%);
  max-height: 50%;
  z-index: -1;
  opacity: 0.2;
}

.card {
  padding: 2em;
}

h2 {
  font-family: "Special Elite", system-ui;
  font-weight: 900;
  font-size: 2.5rem;
  text-transform: uppercase;
  color: #073042;
  padding: 3rem 0;
}

@media screen and (max-width: 900px) {
  h2 {
    font-size: 1.5rem;
  }
}