:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #242424;
  background-color: #f9f9f9;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --shadow-color: hsla(217, 90%, 61%, 0.3);
  --shadow-color-secondary: rgba(55, 191, 112, 0.3);

  --shadow-color-card: 206deg 22% 58%;
  --shadow-elevation-medium: 0.3px 0.5px 0.7px
      hsl(var(--shadow-color-card) / 0.36),
    0.8px 1.6px 2px -0.8px hsl(var(--shadow-color-card) / 0.36),
    2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color-card) / 0.36),
    5px 10px 12.6px -2.5px hsl(var(--shadow-color-card) / 0.36);
}

body {
  width: 100%;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-image: radial-gradient(
    ellipse 80% 50% at 50% 50%,
    rgba(0, 170, 255, 0.3),
    transparent
  );
}

h1 {
  font-family: "Courier Prime", monospace;
  font-weight: bold;
  font-size: 8em;
  font-weight: 900;
  line-height: 1.1;
  color: #4386f5;
  background: linear-gradient(to right, #073042, #4386f5, #4386f5, #073042);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 900px) {
  h1 {
    font-size: 3rem;
  }
}
